<%+ extend('layout') %>

<%+ section('content') %>



<h1> new home ejs </h1>

<li><a href="/auth/register">Sign up here !</a> </li>
<li><a href="/auth/login"> Login </a> </li>
<li><a href="/auth/logout"> Logout </a> </li>

<%+ endSection %>
