<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  <form action="/spaces">
    <input type="submit">View Spaces</button>
  </form>

  <form action="/spaces/addspace">
    <input type="submit">Add A Space</button>
  </form>
  </body>

</html>
