<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
      <link rel='stylesheet' href='/stylesheets/w3.css' />
  </head>
  <body>
<div id="page-main">
  <%+ yield('content') %>
</div>



  </body>
</html>
