<h1> Book A Space </h1>

<form action="/spaces" method=POST>
Start Date <input type="text" placeholder="DD/MM/YYYY">
End Date <input type="text" placeholder="DD/MM/YYYY">
<input type="submit"  value="Show available Spaces" >
</form>

<ul>
    <% spaces.forEach(function(space) { %>

        <li><%= space.title %> : <%= space.description %> available for <%= space.price %>
          <form action="/bookings/new">
          <input type="submit"  value="Book" ></li>
         </form>
    <% }); %>
</ul>
