<ul>
    <% spaces.forEach(function(space) { %>
    <li><%= space.title %> </li>
    <% }); %>
</ul>

<form action="/spaces" method="POST">
    <input type="text" placeholder="title" name="title">
    <input type="text" placeholder="description" name="description">
    <input type="text" placeholder="price" name="price">
    <button type="submit">Submit</button>
</form>