<h1> Book A Space </h1>

<input type="text" placeholder="Start Date">
<input type="text" placeholder="End Date">

<ul>
    <% spaces.forEach(function(space) { %>

        <li><%= space.title %> : <%= space.description %> available for <%= space.price %>
          <form action="/bookings/new">
          <input type="submit"  value="Book" ></li>
         </form>
    <% }); %>
</ul>
