<form action="/bookings?spaceId=<%= space._id %>" method="POST">
    <h2><%= space.title %></h2>
    <!--<input type="hidden" name="_method" value="put">-->
    <input type="date" name="date">
    <!--<input type="date" name="to">-->
    <button type="submit">Submit</button>
</form>